*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/.kotlin/errors/errors-1763484913283.log
/.kotlin/errors/errors-1763487133593.log
/.kotlin/errors/errors-1763487301465.log
/.kotlin/errors/errors-1763488943424.log
/.idea/deviceManager.xml
